
@{
    Layout = null;
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<h3>Yeni Kategori Ekleme Sayfası</h3>
<form class="form-group" method="post">
    <input type="text" placeholder="Kategori Adı" class="form-control" name="CategoryName" />
    <input type="text" placeholder="Kategori Açıklaması" class="form-control" name="CategoryDescription" />
    <button class="btn btn-primary">EKLE</button>
</form>