
@{
    Layout = null;
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<!DOCTYPE html>

<h3>MVC KAMP TABLO ÖRNEĞİ</h3>
<br />
<table class="table table-bordered">
    <tr>
        <td>KATEGORİ ID</td>
        <td>KATEGORİ ADI</td>
        <td>KATEGORİ AÇIKLAMA</td>
        <td>KATEGORİ DURUM</td>
        <td></td>
    </tr>
    <tr>
        <td>1</td>
        <td>Eğitim</td>
        <td>Burası eğitim kategorisidir.</td>
        <td>True</td>
        <td></td>
    </tr>
    <tr>
        <td>2</td>
        <td>Spor</td>
        <td>Burası spor kategorisidir.</td>
        <td>True</td>
        <td></td>
    </tr>

</table>